/*esto esta subido a GITHUG*/
html{
	font-size: 100%;
}

/*Selector universal*/
/*
*{
	color: red;
}*/

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
	font-size: 24px;
	font-size: 2rem; /*Si no funciona coje el 24px "FALLBACK" - RUD EM = unidad de medida que se basa en la raiz "HTML"*/
}

.encabezado_uno, .section_dos {

	color: blue;
}

nav li a[data-link="aaa"]{
	color: red;
	background-color: white;
}

a[miAtributo="Hola"]{
	color: orange;
	background-color: white;
}

input[atributito="caja"]:focus{
	background-color: green;
}

input[type="email"]:valid{
	background-color: peru;
}

input[type="email"]:focus:invalid{
	background-color: red;
}

.checked{
	width: 100px;
	height: 100px;
	background-color: peru;
}
/* Si se remplaza ~ "TODOS" por + "SOLO EL PRIMERO" */
.toggle:checked ~ .checked{
	background-color: olive;
}